<section>
    <h2>Crie sua própria sala</h2>
    <form action="/create-room" method="post">
        <label for="room-pass" class="sr-only">Insira uma senha</label>
        <input type="password" name="password" placeholder="Insira uma senha" id="room-pass">
        <button><img src="/images/users 1.svg" alt="Entrar na sala">Criar sala</button>
    </form>
</section>